PRODUCT_NAME = EsmaltesAmanda
PRODUCT_BUNDLE_IDENTIFIER = com.luisabrantes.esmaltesAmanda
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.0
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
DEVELOPMENT_ASSET_PATHS = "EsmaltesAmanda/Resources/Preview Content"
SUPABASE_PROJECT_HOST = YOUR_SUPABASE_PROJECT_HOST
SUPABASE_ANON_KEY = YOUR_SUPABASE_ANON_KEY
SUPABASE_REDIRECT_SCHEME = esmaltesamanda
SUPABASE_REDIRECT_HOST = login-callback

#include? "Secrets.xcconfig"
